/*
You can find the fonts I used in 
http://www.google.com/webfonts#UsePlace:use/Collection:Open+Sans|Open+Sans+Condensed:700,300
*/

body, p {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
}

h1, h2, h3 { 
  font-family: 'Open Sans Condensed', sans-serif; 
}

h1 {
  line-height: 80px;
  font-size: 72px;
}

h2 {
  line-height: 35px;
  font-size: 30px;
}

h2 > a {
  color: black;
} 

.navbar {
  color: black;
}

.navbar-inner {
  background-color: #E34D4D;
  background-image: none;
  text-align: center;
}

footer {
  margin-top: 50px;
  padding-bottom: 10px;
  position: absolute;
  display: block;
  bottom: 0px;
  width: 100%;
  background-color: #9C9C9C;
  color: white;
  font-size: 10px;
  border-top: solid black 1px;
  clear: both;
}

.float-left {
  float: left;
  margin: 5px;
}

.float-right {
  float: right;
  margin: 5px;
}

.rotated {
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.minigrow {
  -webkit-transition: all .5s ease ; 
  transition: all 1s ease ; 
}

.minigrow:hover {
  -webkit-transform: rotate(-2deg) scale(1.03);
  transform: rotate(-2deg) scale(1.03);
}

.cast-shadow {
  -moz-box-shadow: 3px 3px 2px rgb(100, 100, 100);
  -webkit-box-shadow: 3px 3px 2px rgb(100, 100, 100);
  box-shadow: 3px 3px 2px rgb(100, 100, 100);
}
