/*
You can find the fonts I used in 
http://www.google.com/webfonts#UsePlace:use/Collection:Open+Sans|Open+Sans+Condensed:700,300
*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 { 
  font-family: 'Open Sans Condensed', sans-serif; 
}


