<html>
<head>
  <title>Micubiculo.com</title>
  {% include bootstrap.html %}
  {% include style.html %}
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <h1>Micubiculo.com</h1>
        <h2>
          <a href="/">Blog</a> - 
          <a href="/aboutme.html">About me</a> - 
          <a href="/feed"><img src="/images/feed-icon-28x28.png" />&nbsp;feed</a></h2>
      </div>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>

  <footer>
    <div class="container">
      <i>
        This is the little personal page of <a href="/aboutme.html">Rafa de Castro</a>.
      </i>
    </div>
  </footer>
</body>
</html>
